/**
Hi and thank you for checking my code out. :D
**/
section.project-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
}

section.project-section .project-section-content {
    width: 100%;
}

.prow {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
    justify-content: flex-start;
    height: 25%;
}
.wblock {
    background-color: white !important;
}
.bblock {
    background-color:black !important;
}
.bblock h3 {
   color:white !important;
}
.button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: black !important;
    border: 1px solid black !important;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    color: #fff !important;
    width:100%;
    padding: 1rem 4rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }


.button:hover {
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-color: rgba(10, 10, 10, 0.8) !important;
  }
  .button:focus {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-color: rgba(10, 10, 10, 0.8) !important;
    box-shadow: 0 0 0 0.2rem rgba(20, 20, 20, 0.5);
  }
  .button:not(:disabled):not(.disabled):active:focus, .button:not(:disabled):not(.disabled).active:focus, .show > .button.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(20, 20, 20, 0.3);
  }
  @media (prefers-reduced-motion: reduce) {
    .button {
      transition: none;
    }
  }
.wbutton {
  background-color:white !important;
    border: 1px solid white !important;
    color: black !important;
}

.wbutton:hover {
  color: rgba(0, 0, 0, 0.9) !important;
    background-color: rgba(255, 255, 255, 0.8)!important;
    border-color: rgba(245, 245, 245, 0.8)!important;
}
.wbutton:focus{
background-color: rgba(255, 255, 255, 0.8)!important;
    border-color: rgba(245, 245, 245, 0.8)!important;
    box-shadow: 0 0 0 0.2rem rgba(235, 235, 235, 0.5);
}
.wbutton:not(:disabled):not(.disabled):active:focus, .wbutton:not(:disabled):not(.disabled).active:focus, .show > .wbutton.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(235, 235, 235, 0.3);
}
@media (min-width: 992px) {
  .equal {
    display: flex !important;
    flex-wrap: wrap !important;
  }
}
